[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32
[submodule "components/m5stack/M5Core2"]
	path = components/m5stack/M5Core2
	url = https://github.com/m5stack/M5Core2
[submodule "components/m5stack/M5EPD"]
	path = components/m5stack/M5EPD
	url = https://github.com/m5stack/M5EPD.git
[submodule "components/wasm/wasm3"]
	path = components/wasm/wasm3
	url = https://github.com/wasm3/wasm3.git
[submodule "components/lwgps/lwgps"]
	path = components/lwgps/lwgps
	url = https://github.com/MaJerle/lwgps
[submodule "components/imu6866/MadgwickAHRS"]
	path = components/imu6866/MadgwickAHRS
	url = https://github.com/arduino-libraries/MadgwickAHRS
