menu "WebAssembly Apps"
    choice
        prompt "Select WebAssembly Apps"
            default WASM_CLOCK
        config WASM_CLOCK
            bool "Clock"
        config WASM_IMU6886
            bool "3D Cube Demo (not yet impliments AXIS IMU-6886)"
        config WASM_UNITGPS
            bool "UNIT GPS"
    endchoice
endmenu
